</div>
<div class="footer-padding" style="background-color: #a6ecf299;"></div>
  <div class="footer">
    <p class="footerText">Made by <a href="https://www.linkedin.com/in/rishit-gupta-4b18841b1/" class="footerText">Rishit Gupta</a></p>
  </div>
</div>
</body>
</html>
